<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemTrayUltraMaverick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemTrayUltraMaverick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SystemTrayUltraMaverick.Properties.Settings.hr_bakConnectionString"
            connectionString="Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;" />
        <add name="SystemTrayUltraMaverick.Properties.Settings.UltraMaverickDBConnectionString"
            connectionString="Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SystemTrayUltraMaverick.Properties.Settings>
            <setting name="fdg" serializeAs="String">
                <value>C:\MaverickReports</value>
            </setting>
        </SystemTrayUltraMaverick.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SystemTrayUltraMaverick.Properties.Settings>
            <setting name="rpt_path" serializeAs="String">
                <value>C:\MaverickReports</value>
            </setting>
            <setting name="hr_application_conn2" serializeAs="String">
                <value>Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;</value>
            </setting>
            <setting name="hr_application_conn" serializeAs="String">
                <value>Data Source=MIS-GSINGIAN-L;Initial Catalog=UltraMaverickDB;Integrated Security=SSPI;</value>
            </setting>
        </SystemTrayUltraMaverick.Properties.Settings>
    </applicationSettings>
</configuration>